<mat-card>
    <mat-card-header>
        <mat-card-title>Hi {{user?.displayName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>You have 6 class passes remaining</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>BOOK A CLASS</button>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>JP Urban Kiz Workshops</mat-card-title>
        <mat-card-subtitle>Every Friday 6pm - 9pm</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/jp-urban.webp" alt="JP Urban flyer">

    <mat-card-content>
        <h1>BACK BY POPULAR DEMAND</h1>
        <p>JAMES & POLINA return to bring you the freshest</p>
        <p>URBAN KIZ // TARRAXA // TARRAXO // BODY MOVEMENTS from around the world</p>
        <p>NEW DAY, NEW VENUE & NEW CLASSES!</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button href="https://events.humanitix.com/jp-urban-kiz-workshops">REGISTER</a>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Private Lesson with Polina</mat-card-title>
        <mat-card-subtitle>One 1-hour lesson</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Purchase a single lesson</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>BUY</button>
    </mat-card-actions>
</mat-card>


<mat-card>
    <mat-card-header>
        <mat-card-title>10 private Lessons with Polina</mat-card-title>
        <mat-card-subtitle>Ten 1-hour lessons</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Purchase a pass valid for 10 lessons</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>BUY</button>
    </mat-card-actions>
</mat-card>