<mat-card>
    <mat-card-header>
        <mat-card-title>JP Urban Kiz Workshops</mat-card-title>
        <mat-card-subtitle>Every Friday 6pm - 9pm</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/jp-urban.webp" alt="JP Urban flyer">

    <mat-card-content>
        <h1>BACK BY POPULAR DEMAND</h1>
        <p>JAMES & POLINA return to bring you the freshest</p>
        <p>URBAN KIZ // TARRAXA // TARRAXO // BODY MOVEMENTS from around the world</p>
        <p>NEW DAY, NEW VENUE & NEW CLASSES!</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button href="https://events.humanitix.com/jp-urban-kiz-workshops">REGISTER</a>
    </mat-card-actions>
</mat-card>